*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body,html,.box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    font-size:0.32rem;
}
.box{
    display: flex;
    flex-direction: column;
}
%qq{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}
.header{
    height: 1rem;
    border-bottom:0.01rem solid #eee;
    display: flex;
    a{
        flex: 1;
        @extend %qq;
        &:nth-child(1){
            flex: 1.5;
            span{
                font-size:0.46rem;
                margin-left:0.1rem;
                color:#FA6650;
                font-weight: bolder;
            }
        }
        &:nth-child(3){
            flex: 3;
            span{
                border:0.01rem solid #FA6650;
                padding:0.1rem 0.2rem;
                display: block;
                margin-left:0.1rem;
                &:nth-child(1){
                    color:#FA6650;
                }
                &:nth-child(2){
                    background: #FA6650;
                    color:#fff;
                }
            }
        }
    }
}
.section{
    flex: 1;
    overflow-x: hidden;
    >p{
        height: 1rem;
        display: flex;
        padding:0.2rem;
        span{
            flex: 1;
            @extend %qq;
            &:nth-child(1){
                font-size:0.46rem;
                font-weight: bolder;
            }
            &:nth-child(3){
                color:#FA6650;
            }
            &:nth-child(4){
                color:#999;
            }
        }
    }
    .main{
        width: 100%;
        height: auto;
        padding:0.2rem;
        dl{
            display: flex;
            padding:0.2rem 0;
            dt{
                flex: 1;
            }
            dd{
                flex: 2;
                margin-left:0.2rem;
                p{
                    line-height: 0.6rem;
                    &:nth-child(1){
                        font-size:0.4rem;
                    }
                    &:nth-child(2){
                        span{
                            font-size:0.3rem;
                        }
                    }
                }
            }
        }
    }
}
.bigbox{
    width: 100%;
    height: 100%;
    position: fixed;
    top:1rem;
    left:0;
    background: #fff;
    img{
        margin:0.1rem 0.2rem;
        width: 94%;
        height: auto;
    }
    .nav{
        width: 94%;
        margin-left:3%;
        border-bottom:0.01rem solid #eee;
        text-align: center;
        padding:0.3rem 0;
        >p{
            &:nth-child(1){
                font-size:0.5rem;
                font-weight: bolder;
            }
            &:nth-child(2){
                font-weight: bolder;
                line-height: 0.6rem;
                span{
                    font-size:0.3rem;
                }
            }
        }
    }
    .wrap{
        width: 94%;
        margin-left:3%;
        p{
            border-bottom: 0.01rem solid #eee;
            display: flex;
            line-height: 0.5rem;
            font-size:0.3rem;
            &:nth-child(1){
                border-bottom:none;
                padding:0.5rem 0;
                font-size:0.36rem;
            }
            span{
                flex: 1;
                padding:0.1rem 0;
                &:nth-child(1){
                    flex: 1.5;
                }
                &:nth-child(2){
                    @extend %qq;
                }
                &:nth-child(3){
                    @extend %qq;
                }
            }
        }
    }
}