<div class="bigbox">
    <img ng-src="{{d.src}}" alt="">
    <div class="mark">
        <div class="nav">
            <p>{{d.title}}</p>
            <p><span>{{d.score}}</span><span>{{d.txt}}</span></p>
        </div>
        <div class="wrap">
            <p>作者：渍</p>
            <p>
                <span>{{d.p1}}</span>
            </p>
            <p>
                <span>{{d.p2}}</span>
                <span>{{d.p3}}</span>
                <span>></span> 
            </p>
            <p>
                <span>{{d.p4}}</span>
                <span>{{d.p5}}</span>
                <span>></span> 
            </p> 
            <p>
                <span>{{d.p6}}</span>
                <span>{{d.p7}}</span>
                <span>></span> 
            </p>
        </div>
    </div>
</div>